/* ---------- Section: Select ---------- */
/* Fieldset */
fieldset {
  border: 2px dashed var(--warmGold);
  border-radius: 16px;
  width: 100%;
  background-color: var(--warmWhite);
}

legend,
label {
  color: var(--softBrown);
  font-weight: 800;
}

legend {
  background-color: var(--warmWhite);
  border-radius: 8px;
  border: 2px dashed var(--warmGold);
  padding: 1% 3%;
  text-align: center;
}

.options {
  display: flex;
  justify-content: space-around;
}

input[type="radio"],
label {
  cursor: pointer;
}

/* Button */
button {
  margin-top: 5%;
  background-color: var(--deepRed);
  width: 40vw;
  max-width: 160px;
  aspect-ratio: 4 / 1;
  border-radius: 8px;
  color: var(--warmWhite);
  font-weight: 600;
}

/* ---------- Section: Result ---------- */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fadeIn {
  opacity: 0;
  animation: fadeIn 0.6s ease-out forwards;
}

/* resultFetch */
.resultBox {
  border-radius: 16px;
  margin-bottom: 10%;
  height: 100%;
}

.resultBox p {
  padding: 4% 2%;
}

.resultGreen {
  border: 2px dashed var(--warmGold);
  background-color: var(--catGingerOpacity);
}

.error {
  border: 2px dashed var(--deepRed);
  background-color: var(--catGinger);
  width: 100%;
}

/* GIFs */
.gifImage {
  width: 100%;
  height: auto;
}

/* ---------- MEDIA QUERY ---------- */
@media screen and (min-width: 600px) {
  button {
    width: 25vw;
    max-width: none;
  }

  .resultBox {
    margin-bottom: 5%;
  }

  .resultBox p {
    padding: 0;
  }
}

@media screen and (min-width: 800px) {
  button {
    width: 15vw;
  }

  button:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 12px rgba(120, 100, 80, 0.35);
    cursor: pointer;
  }

  .resultBox p {
    padding: 4% 2%;
  }

  .error {
    width: 40vw;
    margin: 0 15vw;
    padding: 0;
  }
}
