h1 {
  font-family: "Merriweather", sans-serif;
  margin: 12% 0%;
  font-size: 1.3rem;
  text-align: center;
  color: var(--darkForestGreen);
}

p {
  text-align: center;
  margin: 5%;
  color: var(--softBrown);
}

.text p {
  font-weight: 500;
}

/* ---------- MEDIA QUERY ---------- */
@media screen and (min-width: 600px) {
  h1 {
    /* margin: 5% 0%; */
    font-size: 1.5rem;
  }
}

@media screen and (width > 800px) {
  h1 {
    margin: 5% 0%;
    font-size: 2rem;
  }

  legend {
    font-size: 1.2rem;
  }

  .text p {
    font-size: 1.5rem;
  }
}
